body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    width: 500px;
    margin: auto;
    margin-bottom: 10px;
}

.chatField {
    height: 300px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
}

.form-group {
    margin: 10px;
}

.chatBox {
    outline-style: solid;
}

.sentMessage {
    text-align: left;
    float: right;
    color: white;
    background-color: #1982fc;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    max-width: 90%;
}

.receivedMessage {
    text-align: left;
    color: black;
    background-color: lightgray;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: max-content;
    max-width: 90%;
}

.room {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
}
