body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    width: 500px;
    margin: auto;
    margin-bottom: 10px;
}

.form-group {
    margin: 10px;
}

.SignInButton {
    width: 75%;
}

.chatBox {
    outline-style: solid;
}
